.movies {
  &_filters {
    width: 100%;
    &_search {
      border: none;
    }
    &_input {
      margin-bottom: 20px;
    }

    &_wrapper {
      margin-top: 20px;
      background-color: #e3f2fd;
      border-radius: 15px;
      padding: 5%;
    }
    &_resetting {
      margin-top: 20px;
    }
    &_notification {
      margin-top: 10px;
    }
  }
}
