.movies {
  &_filters {
    width: 100%;
    &_search {
      border: none;
    }
    &_input {
      margin-top: 20px;
      margin-bottom: 20px;
      // border: 2px solid #4fc3f7;
      // border-radius: 20px;
    }
    &_sorting {
      width: 50%;
      margin: 10px;
    }
    &_wrapper {
      background-color: #e3f2fd;
      border-radius: 15px;
      padding: 5%;
    }
  }
}
// .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
//   border: 2px solid #4fc3f7;
//   border-radius: 20px;
//   padding-left: 4px;
//   margin-top: 20px;
//   margin-bottom: 20px;
// }
