.movies {
  &_banner {
    background: steelblue;

    &__image {
      width: 100%;
    }
  }

  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__header {
      font-family: "Source Sans Pro", "Arial", sans-serif;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }
  &_notification {
    // display: none;
    width: 100%;
    text-align: center;
    color: orange;
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
  }
}
